#mynetwork {
           width: 600px;
           height: 400px;
           border: 1px solid lightgray;
       }

.description {
  margin: 20px 5px;
  font-size: 25px;
  font-family: Tahoma;
}

.drop-down{
  margin: 20px 5px;
  font-size: 25px;
  font-family: Tahoma;
}

.option {
  border: 1px solid #ccc;
    border-radius: 1px;
    color: #333;
}

.type-of-crime {
  font-family: Tahoma;
  margin: 10px 5px;
}

.drop {
  font-family: Tahoma;
  margin: 10px 5px;
}
